*{
    box-sizing: border-box;
    font-family:"Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
}

:root {
    --highlight:rgb(187,83,231);
    --button: rgb(52,17,117);
}

body{
    margin: 5rem;
}

nav{
    display:flex;
    justify-content:space-between;
}

h1{
    margin-bottom: 2rem;
    font-size: 3.4rem;
    text-align:center;
}

p{
    font-size: 1.8rem;
    text-align:center;
}

button{
    background-color:var(--button);
    border:none;
    color: white;
    border-radius:8px;
    display:inline-block;
    font-size:2rem;
    padding:1rem 2rem;
}

button:hover{
    transition-duration:0.4s;
    background-color:var(--highlight);
    cursor:pointer;
}

.view-highscore{
    color:var(--highlight);
}

.container{
    display:flex;
    flex-flow:column;
    margin: 20rem;
    width: 60rem;
    height:30rem;
}
.button{
    display:flex;
    flex-flow:column;
}

.options{
    width:20rem;
    text-align:left;
    margin: 1rem 0;
}

#start-btn{
    text-align:center;
    align-self:center;
    text-decoration:none;
    margin:2rem;
}

.question{
    text-align:left;
}

.result{
    color:grey;
    font-size:2rem;
}