*{
    box-sizing: border-box;
    font-family:"Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
}

:root {
    --highlight:rgb(187,83,231);
    --button: rgb(52,17,117);
}

body{
    margin: 5rem;
}

nav{
    display:flex;
    justify-content:space-between;
}

h1{
    margin-bottom: 2rem;
    font-size: 3.4rem;
    text-align:center;
}

p{
    font-size: 1.8rem;
    text-align:center;
}

button{
    background-color:var(--button);
    border:none;
    color: white;
    border-radius:8px;
    display:inline-block;
    font-size:2rem;
    padding: 0 2rem;
    transition-duration:0.4s;
    height: 4rem;
    text-align:center;
}

button:hover{

    transform: translateY(-5px);
    background-color:var(--highlight);
    cursor:pointer;
}

/* Initial Entry for Highscore storage*/
form{
    display: flex;
    align-items:center;
    margin: 2rem 0;
}

input{
    margin: 0.5rem;
    border: 2px grey solid;
    width: 30rem;
    height: 4rem;
    text-align:center;
    font-size: 2rem ;
}

#view-highscore{
    color:var(--highlight);
    cursor:pointer;
}

.display-score{
    border: none;
    background-color: rgb(217,210,233) ;
    padding: 1rem;
    width: 50rem;
    height: 4rem;
    text-align:left;
    font-size: 2rem ;
}

.score{
    text-align: left;
    font-size: 2rem;
}

.container{
    display:flex;
    flex-flow:column;
   margin: 10rem 40rem;

}
.button{
    display:flex;
    flex-flow:column;
}

.options{
    width:25rem;
    text-align:left;
    margin: 1rem 0;
}

#start-btn, .go-Back, .clear-score{
    text-align:center;
    align-self:center;
    text-decoration:none;
    margin:2rem;
}

.question{
    text-align:left;
}

.result{
    color:grey;
    font-size:2rem;
}

@media screen and (max-width: 1500px){
     .container{
         flex:1 100%;
         margin: 0;
      }
    
}